
{{>header}}

<!-- Materialize CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
<!--Materialize icons-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.js"></script>

<div class="container" id="david2">
  <div class="row">

      <!-- FLIGHT DISPLAY -->

      <div class="col l4 m6 s12">
          <div class="card small">
              <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="http://www.mattis.aero/images/ship.jpg">
              </div>
              <div class="card-content">
                <!-- Add Flight Modal Trigger -->
                <a class="waves-effect waves-light btn" href="#modal1">Add Flight</a>

                <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
              </div>

              <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4 reveal-head">Flight<i class="material-icons right">close</i></span>
                  
                  <ul id="cardReveal">    
                  {{#if trip.flightId }}
                  {{#each flight}}
                    <li id="inputStyle">{{this.flight_number}}</lil>
                    <li id="inputStyle">{{this.flight_date}}</li>
                    <li id="inputStyle">{{this.departure}}</li>
                  {{/each}}
                  {{/if}}
                  </ul>
                  
                  <p id="flightStatus"></p>
              </div>
          </div>
      </div>

      <!-- CAR RENTAL DISPLAY -->

      <div class="col l4 m6 s12">
          <div class="card small">

            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="http://chainimage.com/images/car-wallpapers-free-download-maybach-history-1921-2013.jpg">
            </div>

            <div class="card-content">
            <a class="waves-effect waves-light btn" href="#addRentalModal">Add Rental</a>
                <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
            </div>

            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4 reveal-head">Transportation<i class="material-icons right">close</i></span>
              
                <ul id="cardReveal">
                {{#if trip.carRentalId }}
                {{#each carRental }}
                    <li class="inputStyle">{{this.Rental_Comp}}</li>
                {{/each}}
                {{/if}}
                </ul>
               
               

                <span id="userCar"></span>
            </div>

          </div>
      </div>

      <!-- HOTEL DISPLAY -->

      <div class="col l4 m6 s12">
          <div class="card small">
              <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="http://flashydubai.com/images/jumeirah-beach.jpg">
              </div>
              <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
                  <a class="waves-effect waves-light btn" id="add-hotel" href="#addHotelModal">Add Hotel</a>
              </div>
              <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4 reveal-head">Hotel<i class="material-icons right">close</i></span>
                
                <ul id="cardReveal">
                  {{#if trip.hotelId }}
                  {{#each hotel }}
                      <li id="inputStyle">{{this.hotel_name}}</li>
                      <li id="inputStyle">{{this.address}}</li>
                      <li id="inputStyle">{{this.checkin_time}}</li>
                  {{/each}}
                  {{/if}}
                </ul>
                

                  <span id="userHotel"></span>
              </div>
          </div>
      </div>

      <!-- ACTIVITY DISPLAY -->

      <div class="col l12 m6 s12">
          <div class="card small">
              <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="http://images.all-free-download.com/images/graphicthumb/tourist_information_sign_192713.jpg">
              </div>

              <div class="card-content">
                  <a class="waves-effect waves-light btn" href="#addActivityModal">Add Activity</a>
                  <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span><br>
                  <p><a id="googleTour" target="_blank" href="#" >Activity Look Up</a></p>

              </div>

              <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4 reveal-head">Itinerary<i class="material-icons right">close</i></span>
                  
                  <ul id="cardReveal">

                    {{#if trip.activityId }}
                    {{#each activity}}
                      <li id="inputStyle">
                        {{this.activity_name}}
                        <p>{{this.description}}</p>
                      </li>
                    {{/each}}
                    {{/if}}

                  </ul>
              </div>

          </div>
      </div>

  </div> <!-- END OF ROW -->
</div> <!-- END OF CONTAINER -->

<!-- <form action="/{{this.id}}?_method=PUT" method="POST" class="card-content">
    <a class="waves-effect waves-light btn" href="#addActivityModal">Add Activity</a>
    <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span><br>
    <p><a id="googleTour" target="_blank" href="#" >Activity Look Up</a></p>
     Add Activity Modal -->
    <!-- <div id="addActivityModal" class="modal">
      <div class="modal-content">
          <h4>Add An Activity</h4>
          <input placeholder="Activity Name" name="activity_name" id="activity_name" type="text" class="validate">
          <input placeholder="Discription" name="description" id="disription" type="text" class="validate">
          <input placeholder="Time of Event" name="time_of_event" id="time_of_event" type="text" class="validate">
      </div>
      <div class="modal-footer">
          <button class="modal-action waves-effect waves-green btn" id="addActivity">Submit</button>
      </div>
    </div>
</form> -->